/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50: #e2e6e9,
  100: #b7c0c9,
  200: #8897a5,
  300: #586d80,
  400: #344d65,
  500: #102e4a,
  600: #0e2943,
  700: #0c233a,
  800: #091d32,
  900: #051222,
  A100: #5f96ff,
  A200: #2c75ff,
  A400: #0055f8,
  A700: #004ddf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-accent: (
  50: #faede1,
  100: #f3d1b4,
  200: #ebb383,
  300: #e29551,
  400: #dc7e2b,
  500: #d66706,
  600: #d15f05,
  700: #cc5404,
  800: #c64a03,
  900: #bc3902,
  A100: #ffebe5,
  A200: #ffc3b2,
  A400: #ff9c7f,
  A700: #ff8865,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
